In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint
import random
import json
%matplotlib inline

In [2]:
def start(df):
    df.rename(
        columns={
            "Operator": "op",
            "In Out Travelling": "inOut",
            "Network Type": "nwrk",
            "Latitude": "lat",
            "Longitude": "long",
            "Call Drop Category": "cdc",
            "Rating": "rt",
            "State Name": "stn"
        },
        inplace=True
        )
    df=df.dropna()
    column_titles = ['inOut','nwrk','rt','cdc','lat','long','stn','op']
    df=df.reindex(columns=column_titles)
    return df

In [3]:
# month=["April 2018","May 2018","June 2018","July 2018","August 2018","September 2018","October 2018","November 2018","December 2018","January 2019","February 2019","March 2019"]
# month=["JUNE 2018","july 2018"]
month=["April 2018"]

In [4]:
sumAccuracy=0
for i in range(len(month)):
    print("month: ",month[i],"...")
    df = pd.read_csv('../data/'+month[i]+'/Training_Data_Set.csv')
    # # df2 = pd.read_csv('testing1.csv')
    df2=pd.read_csv('../data/'+month[i]+'/Testing_Data_Set.csv')
    df=start(df)
    df2=start(df2)
    print(df.head())
    print(df2.head())

month:  April 2018 ...
    inOut nwrk  rt  cdc        lat       long            stn      op
0  Indoor   4G   4    2  28.528862  77.399903  Uttar Pradesh    RJio
1  Indoor   2G   4    2  11.271128  76.238910         Kerala    BSNL
2  Indoor   4G   4    2  26.021410  89.992652          Assam    RJio
3  Indoor   3G   1    2  28.631353  77.205540            NCT  Airtel
4  Indoor   3G   4    2  28.390937  76.958238        Haryana  Airtel
     inOut nwrk  rt  cdc        lat       long            stn      op
0   Indoor   3G   5    2  28.422966  76.912324        Haryana  Airtel
1   Indoor   4G   2    2   9.426251  77.802405     Tamil Nadu    RJio
2  Outdoor   4G   5    2  26.781342  82.150961  Uttar Pradesh  Airtel
3   Indoor   4G   1    1  13.010252  77.703402      Karnataka  Airtel
4   Indoor   4G   5    2  12.750605  77.845415     Tamil Nadu    BSNL

In [37]:
df=pd.read_csv("./reports/report_May 2018.csv", nrows=10)

In [38]:
df

   Max Depth  Accuracy
0         10  0.700245
1         15  0.754809
2         20  0.835257
3         25  0.892620
4         30  0.901014
5         35  0.899265
6         40  0.899265
7         45  0.899265
8         50  0.899265
9         55  0.899265

In [20]:
month:  April 2018 ...
0.68210197710718
month:  April 2018 ...
0.7478321193201526
month:  April 2018 ...
0.836975372875477
month:  April 2018 ...
0.8909122441900797
month:  April 2018 ...
0.9028789455428373
month:  April 2018 ...
0.9195282691640652
month:  April 2018 ...
0.9231703087062089
month:  April 2018 ...
0.9231703087062089
month:  April 2018 ...
0.9231703087062089
month:  April 2018 ...
0.9231703087062089

In [60]:
# for i in range(10):
df["Accuracy"][9]=0.9231703087062089

C:\Users\Anuj Kharbanda\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
df.columns=["Max Depth","Accuracy"]

In [62]:
df.to_csv('./reports/report_April 2018.csv',index=False,header=True)

In [61]:
df

   Max Depth  Accuracy
0         11  0.682102
1         15  0.747832
2         20  0.836975
3         25  0.890912
4         30  0.902879
5         35  0.919528
6         40  0.923170
7         45  0.923170
8         50  0.923170
9         55  0.923170

In [63]:
df

   Max Depth  Accuracy
0         11  0.682102
1         15  0.747832
2         20  0.836975
3         25  0.890912
4         30  0.902879
5         35  0.919528
6         40  0.923170
7         45  0.923170
8         50  0.923170
9         55  0.923170

In [64]:
df2

           inOut nwrk  rt  cdc        lat       long             stn        op
0         Indoor   3G   5    2  28.422966  76.912324         Haryana    Airtel
1         Indoor   4G   2    2   9.426251  77.802405      Tamil Nadu      RJio
2        Outdoor   4G   5    2  26.781342  82.150961   Uttar Pradesh    Airtel
3         Indoor   4G   1    1  13.010252  77.703402       Karnataka    Airtel
4         Indoor   4G   5    2  12.750605  77.845415      Tamil Nadu      BSNL
5         Indoor   4G   4    2  12.683241  77.878702      Tamil Nadu      BSNL
6        Outdoor   4G   5    2  19.206964  73.002762     Maharashtra  Vodafone
7         Indoor   4G   1    1  22.714307  75.873752  Madhya Pradesh      Idea
8        Outdoor   4G   5    2  11.017377  76.920361      Tamil Nadu    Airtel
9         Indoor   4G   5    2  22.795423  86.231791       Jharkhand      RJio
10        Indoor   4G   3    2  10.815756  79.840731      Tamil Nadu      RJio
11       Outdoor   4G   1    0  25.766854  84.170540           Bihar  Vodafone
12        Indoor   3G   1    2  23.233438  77.405999  Madhya Pradesh      Idea
13        Indoor   4G   2    0  23.233438  77.405999  Madhya Pradesh      Idea
14        Indoor   4G   2    2  17.498398  78.324617       Telangana    Airtel
15        Indoor   4G   1    0  13.010753  77.703382       Karnataka    Airtel
16        Indoor   2G   4    2  13.038372  80.212449      Tamil Nadu  Vodafone
17        Indoor   4G   3    2  12.930606  77.586524       Karnataka      RJio
18        Indoor   3G   1    2  17.497098  78.327427       Telangana    Airtel
19        Indoor   4G   3    0  17.496674  78.396822       Telangana      RJio
20        Indoor   4G   5    2  15.505271  80.031311  Andhra Pradesh      RJio
21        Indoor   4G   5    2  15.505271  80.031311  Andhra Pradesh      RJio
22        Indoor   4G   5    2  15.505271  80.031311  Andhra Pradesh      RJio
23        Indoor   4G   5    2  15.504048  80.036639  Andhra Pradesh      RJio
24       Outdoor   4G   5    2  15.505386  80.031171  Andhra Pradesh      RJio
25       Outdoor   4G   5    2  15.505190  80.029494  Andhra Pradesh      RJio
26       Outdoor   4G   5    2  23.257691  77.397244  Madhya Pradesh      RJio
27        Indoor   4G   5    2  29.672801  77.007469         Haryana      RJio
28       Outdoor   4G   4    2  19.027119  72.850849     Maharashtra    Airtel
29        Indoor   3G   4    2  19.169165  72.864422     Maharashtra    Airtel
...          ...  ...  ..  ...        ...        ...             ...       ...
5736      Indoor   3G   3    2  23.807650  87.805803     West Bengal  Vodafone
5737      Indoor   4G   1    2  18.496463  73.811763     Maharashtra      RJio
5738  Travelling   4G   5    2  26.737411  83.384328   Uttar Pradesh      RJio
5739      Indoor   4G   5    2  17.592405  80.698073       Telangana      RJio
5740      Indoor   3G   5    2  18.691563  73.791710     Maharashtra      Idea
5741      Indoor   4G   5    2  25.602995  85.076630           Bihar      RJio
5742      Indoor   2G   2    2  11.838799  75.956362          Kerala      BSNL
5743  Travelling   3G   2    1  12.891722  77.667335       Karnataka      BSNL
5744      Indoor   4G   5    2  11.365352  77.747823      Tamil Nadu      RJio
5745      Indoor   3G   4    2  20.669855  81.565677    Chhattisgarh    Airtel
5746  Travelling   3G   5    2  22.464983  88.381062     West Bengal      BSNL
5747  Travelling   3G   5    2  22.464983  88.381062     West Bengal      BSNL
5748     Outdoor   4G   5    2  26.888624  75.764886       Rajasthan      RJio
5749      Indoor   4G   5    2  19.206952  73.002461     Maharashtra  Vodafone
5750      Indoor   4G   4    2  12.991105  77.549483       Karnataka      RJio
5751      Indoor   4G   5    2  20.826167  85.093821          Odisha      RJio
5752      Indoor   2G   5    2  22.698486  88.389858     West Bengal  Vodafone
5753      Indoor   4G   5    2  20.826331  85.093717          Odisha      RJio
5754      Indoor   4G   5    2  28.533223  77.216875             NCT      RJio
5755      Indoor   3G   1    0  17.231053  78.564527       Telangana      Idea
5756      Indoor   4G   4    2  17.445024  78.675056       Telangana    Airtel
5757     Outdoor   4G   5    2  17.254337  82.537845  Andhra Pradesh      RJio
5758      Indoor   4G   2    1  26.831624  75.831025       Rajasthan      RJio
5759  Travelling   4G   5    2  17.056088  74.268888     Maharashtra      RJio
5760      Indoor   4G   1    1  28.533198  77.216686             NCT      RJio
5761      Indoor   3G   4    2  28.696127  77.112223             NCT    Airtel
5762      Indoor   4G   5    2  21.174041  79.046377     Maharashtra      RJio
5763      Indoor   4G   1    1  22.548987  88.285077     West Bengal      RJio
5764      Indoor   4G   4    2  28.947655  77.722791   Uttar Pradesh      RJio
5765      Indoor   4G   1    0  19.065731  72.997872     Maharashtra      RJio

[5766 rows x 8 columns]

In [2]:
a=[[1,2],[3,4],[5,6]]
DF = pd.DataFrame(a, columns = ["No. of trees", "Accuracy"])

In [6]:
df = pd.DataFrame()

In [7]:
for i in DF:
    df[i]=DF[i]

In [8]:
df

   No. of trees  Accuracy
0             1         2
1             3         4
2             5         6

In [10]:
random.sample(population=[1,2,3,4,5], k=2)

[1, 2]

In [16]:
if 1<2:
    print("yes")

#qwhjkdh
else:
    print("no")

yes